asgiref==3.8.1
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.7
Django==5.0.6
django-cors-headers==4.3.1
django-cryptographic-fields==0.5.1
django-rest-framework==0.1.0
django-restframework==0.0.1
djangorestframework==3.15.1
djangorestframework-jsonapi==7.0.0
idna==3.7
inflection==0.5.1
mysql-connector-python==8.4.0
mysqlclient==1.4.3
pycparser==2.22
PyJWT==2.8.0
pytz==2024.1
requests==2.32.2
setuptools==78.1.1
soupsieve==2.5
sqlparse==0.5.0
urllib3==2.6.3
whitenoise==6.6.0
